.IntroPage {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/background.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 50px;
  border-radius: 32px;  
  background-color: #FFFFFF;
}

.image {
  width: 180px;
  max-width: 180px;
  height: auto;
}

.title {
  margin: 0;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}

.description {
  text-align: center;
  margin-bottom: 40px;
  font-size: 16px;
  color: #000000;
}

.button {
  width: 600px;
  padding: 15px;
  border-radius: 20px;
  background-color: #7B5E57;
  font-size: 10;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    width: 79%;
    padding: 6%;
  }
  
  .button {
    width: 99%;
  }
}

@media (max-width: 607px) {
  .description {
    display: none;
  }

  .image {
    width: 30%;
  }

  .title {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 200px;
    padding: 30px;
  }

  .image {
    width: 50%;
  }

  .title {
    margin-bottom: 30px;
    font-size: 0.9rem;
  }

  .description {
    display: none;
  }

  .button {
    width: 100%;
    font-size: 0.8rem;
  }
}