.dropdownWrapper {
  position: relative;
  font-size: 14px;
}

.selectedBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background-color: transparent;
  color: #333333;
  padding: 4px 8px;
  user-select: none;
}

.optionList {
  position: absolute;
  top: 100%;
  left: 5%;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 0px;
  z-index: 10;
  list-style: none;
}

.optionList li {
  padding: 6px 10px;
  color: #777f81;
  cursor: pointer;
}

.optionList li:hover {
  background-color: #f1f1f1;
}
